CONFIG_BOOT_SCRIPT_OFFSET=0x1FC0000
CONFIG_BOOTDELAY=2
CONFIG_SYS_PROMPT="Mango> "
CONFIG_ENV_SIZE=0x4000
CONFIG_ENV_OFFSET=0x1F80000
# CONFIG_ENV_IS_IN_FAT is not set
# CONFIG_SYS_REDUNDAND_ENVIRONMENT is not set
# CONFIG_BOOTDEV_ETH is not set
